#game
{
  border: 1px solid black;
  position: absolute;
  min-width: 320px;
  max-width: 100%;
  min-height: 240px;
  max-height: 100%;
  left: 50%;
  top: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
    border: 1px Black solid;
  border-radius: 6px;
  display: block;
}
@font-face {
  font-family: 'Gesso';
  src: url('../Assets/fonts/GESSO___-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Boycott';
  src: url('../Assets/fonts/BOYCOTT_-webfont.woff') format('woff');
font-weight: normal;
font-style: normal;
}

html, body {
  background: rgb(53, 53, 53);
}
